<div>
  Sup
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/96/25/CPBNzQ.jpg"
    appLazyLoad
  />
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/93/67/efWJLU.jpg"
    appLazyLoad
  />
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/39/73/uJOVbP.jpg"
    appLazyLoad
  />
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/94/17/xPiBnz.jpg"
    appLazyLoad
  />
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/33/15/H0xd3O.jpg"
    appLazyLoad
  />
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/74/9/VLjGQk.jpg"
    appLazyLoad
  />
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/96/36/vKl0jY.jpg"
    appLazyLoad
  />
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/51/70/Q7GoMx.jpg"
    appLazyLoad
  />
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/54/90/bA74uy.jpg"
    appLazyLoad
  />
  <img
    style="width:2560px;height:1700px"
    srcdata="https://img.wallpapersafari.com/tablet/2560/1700/76/53/6oEO7I.jpg"
    appLazyLoad
  />
</div>

<router-outlet></router-outlet>
