.lil-img_list-img_wrapper {
  @media screen and (min-width: 320px) {
    width: 256px;
    height: 170px;
  }
  @media (min-width: 680px) {
    width: 512px;
    height: 340px;
  }
  @media (min-width: 1024px) {
    width: 768px;
    height: 510px;
  }
  margin: 0 0 20px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.lil-img_list-img_wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.lil-img_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.lil-header {
  text-align: center;
  margin: 25px 0px 20px 0px;
  font-size: 35pt;
  font-family: "Roboto", sans-serif;
}
